<!---<cfinclude template="/admin/security/_tmp_userTrack.cfm">--->
<cfoutput>
<div class="login">
	<h2>Logins Exceeded</h2>
	<cfif ERR.ErrorMessage IS NOT "">
	<cfoutput>
	<h3 class="error">#ERR.ErrorMessage#</h2>
	</cfoutput>
	</cfif>
	<div class="logincred clear">
		<div class="cred">
			<label for="Username">Username:</label>
		</div>
		<div class="cred">
			<label for="Password">Password:</label>
		</div>
	</div>
</div>
</cfoutput>