<cfset SESSION.loginAttempts = SESSION.loginAttempts + 1>
<cfoutput>
<div class="login">
	<h2>Login</h2>
	<cfif ERR.ErrorMessage IS NOT "">
	<cfoutput>
	<h3 class="error">#ERR.ErrorMessage#</h2>
	</cfoutput>
	</cfif>
	<div class="logincred clear">
	<form action="#CGI.script_name#?#CGI.query_string#" method="post">
		<div class="cred">
			<label for="Username">Username:</label>
			<input type="text" name="j_username" value="#FORM.j_username#" />
		</div>
		<div class="cred">
			<label for="Password">Password:</label>
			<input type="password" name="j_password" value="#FORM.j_password#" />
		</div>
		<div class="cred">
			<input type="submit" value="Login" />
		</div>
	</form>
	</div>
</div>
</cfoutput>