body {
	margin: 0px;
	font: 12px Arial, Helvetica, sans-serif;
}
.listLink {
	font-weight: bold;
	display: block;
	color: #253C98;
	padding-left: 15px;
	background: url(images/buttonArrow.gif) no-repeat 0px -2px;
	text-decoration: none;
	margin-bottom: 4px;
	line-height: 16px;
	font-style: italic;
	font-size: .9em;
}
.listLink:hover {
	color: #B0232A;
	
}

.productTable {
	
	margin: 0px auto;
	
}

.productTable td {
	width: 33%;
}

.productHeadingImg {
	display: block;
	margin-top: 40px;
}

.linksDiv {
	margin: 5px 15px 0px 1px;

}

.linksDiv h3{
	margin: 0px 0px 5px 0px;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	
}

